KEYCLOAK_CLIENT_ID=demo
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_ISSUER=http://localhost:8080/realms/demo
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=NEXTAUTH_SECRET_PASSWORD


NEXT_PUBLIC_KEYCLOAK_ISSUER=http://localhost:8080/realms/demo
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=demo
NEXT_PUBLIC_NEXTAUTH_URL=http://localhost:3000
