KEYCLOAK_CLIENT_ID=tedris
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_ISSUER=https://auth-dev.lcvgo.com/realms/amel-tech-dev
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=NEXTAUTH_SECRET_PASSWORD


NEXT_PUBLIC_KEYCLOAK_ISSUER=https://auth-dev.lcvgo.com/realms/amel-tech-dev
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=tedris
NEXT_PUBLIC_NEXTAUTH_URL=http://localhost:3000
