
/* @theme {
  --color-50: rgba(248, 250, 252, 1);
  --color-100: rgba(241, 245, 249, 1);
  --color-200: rgba(226, 232, 240, 1);
  --color-300: rgba(203, 213, 225, 1);
  --color-400: rgba(148, 163, 184, 1);
  --color-500: rgba(100, 116, 139, 1);
  --color-600: rgba(71, 85, 105, 1);
  --color-700: rgba(51, 65, 85, 1);
  --color-800: rgba(30, 41, 59, 1);
  --color-900: rgba(15, 23, 42, 1);
  --color-950: rgba(2, 6, 23, 1);
  --color-50-2: rgba(249, 250, 251, 1);
  --color-100-2: rgba(243, 244, 246, 1);
  --color-200-2: rgba(229, 231, 235, 1);
  --color-300-2: rgba(209, 213, 219, 1);
  --color-400-2: rgba(156, 163, 175, 1);
  --color-500-2: rgba(107, 114, 128, 1);
  --color-600-2: rgba(75, 85, 99, 1);
  --color-700-2: rgba(55, 65, 81, 1);
  --color-800-2: rgba(31, 41, 55, 1);
  --color-900-2: rgba(17, 24, 39, 1);
  --color-950-2: rgba(3, 7, 18, 1);
  --color-50-3: rgba(250, 250, 250, 1);
  --color-100-3: rgba(244, 244, 245, 1);
  --color-200-3: rgba(228, 228, 231, 1);
  --color-300-3: rgba(212, 212, 216, 1);
  --color-400-3: rgba(161, 161, 170, 1);
  --color-500-3: rgba(113, 113, 122, 1);
  --color-600-3: rgba(82, 82, 91, 1);
  --color-700-3: rgba(63, 63, 70, 1);
  --color-800-3: rgba(39, 39, 42, 1);
  --color-900-3: rgba(24, 24, 27, 1);
  --color-950-3: rgba(9, 9, 11, 1);
  --color-50-4: rgba(250, 250, 250, 1);
  --color-100-4: rgba(245, 245, 245, 1);
  --color-200-4: rgba(229, 229, 229, 1);
  --color-300-4: rgba(212, 212, 212, 1);
  --color-400-4: rgba(163, 163, 163, 1);
  --color-500-4: rgba(115, 115, 115, 1);
  --color-600-4: rgba(82, 82, 82, 1);
  --color-700-4: rgba(64, 64, 64, 1);
  --color-800-4: rgba(38, 38, 38, 1);
  --color-900-4: rgba(23, 23, 23, 1);
  --color-950-4: rgba(10, 10, 10, 1);
  --color-50-5: rgba(250, 250, 249, 1);
  --color-100-5: rgba(245, 245, 244, 1);
  --color-200-5: rgba(231, 229, 228, 1);
  --color-300-5: rgba(214, 211, 209, 1);
  --color-400-5: rgba(168, 162, 158, 1);
  --color-500-5: rgba(120, 113, 108, 1);
  --color-600-5: rgba(87, 83, 78, 1);
  --color-700-5: rgba(68, 64, 60, 1);
  --color-800-5: rgba(41, 37, 36, 1);
  --color-900-5: rgba(28, 25, 23, 1);
  --color-950-5: rgba(12, 10, 9, 1);
  --color-50-6: rgba(254, 242, 242, 1);
  --color-100-6: rgba(254, 226, 226, 1);
  --color-200-6: rgba(254, 202, 202, 1);
  --color-300-6: rgba(252, 165, 165, 1);
  --color-400-6: rgba(248, 113, 113, 1);
  --color-500-6: rgba(239, 68, 68, 1);
  --color-600-6: rgba(220, 38, 38, 1);
  --color-700-6: rgba(185, 28, 28, 1);
  --color-800-6: rgba(153, 27, 27, 1);
  --color-900-6: rgba(127, 29, 29, 1);
  --color-950-6: rgba(69, 10, 10, 1);
  --color-50-7: rgba(255, 247, 237, 1);
  --color-100-7: rgba(255, 237, 213, 1);
  --color-200-7: rgba(254, 215, 170, 1);
  --color-300-7: rgba(253, 186, 116, 1);
  --color-400-7: rgba(251, 146, 60, 1);
  --color-500-7: rgba(249, 115, 22, 1);
  --color-600-7: rgba(234, 88, 12, 1);
  --color-700-7: rgba(194, 65, 12, 1);
  --color-800-7: rgba(154, 52, 18, 1);
  --color-900-7: rgba(124, 45, 18, 1);
  --color-950-7: rgba(67, 20, 7, 1);
  --color-50-8: rgba(254, 252, 232, 1);
  --color-100-8: rgba(254, 249, 195, 1);
  --color-200-8: rgba(254, 240, 138, 1);
  --color-300-8: rgba(253, 224, 71, 1);
  --color-400-8: rgba(250, 204, 21, 1);
  --color-500-8: rgba(234, 179, 8, 1);
  --color-600-8: rgba(202, 138, 4, 1);
  --color-700-8: rgba(161, 98, 7, 1);
  --color-800-8: rgba(133, 77, 14, 1);
  --color-900-8: rgba(113, 63, 18, 1);
  --color-950-8: rgba(66, 32, 6, 1);
  --color-50-9: rgba(255, 251, 235, 1);
  --color-100-9: rgba(254, 243, 199, 1);
  --color-200-9: rgba(253, 230, 138, 1);
  --color-300-9: rgba(252, 211, 77, 1);
  --color-400-9: rgba(251, 191, 36, 1);
  --color-500-9: rgba(245, 158, 11, 1);
  --color-600-9: rgba(217, 119, 6, 1);
  --color-700-9: rgba(180, 83, 9, 1);
  --color-800-9: rgba(146, 64, 14, 1);
  --color-900-9: rgba(120, 53, 15, 1);
  --color-950-9: rgba(69, 26, 3, 1);
  --color-50-10: rgba(247, 254, 231, 1);
  --color-100-10: rgba(236, 252, 203, 1);
  --color-200-10: rgba(217, 249, 157, 1);
  --color-300-10: rgba(190, 242, 100, 1);
  --color-400-10: rgba(163, 230, 53, 1);
  --color-500-10: rgba(132, 204, 22, 1);
  --color-600-10: rgba(101, 163, 13, 1);
  --color-700-10: rgba(77, 124, 15, 1);
  --color-800-10: rgba(63, 98, 18, 1);
  --color-900-10: rgba(54, 83, 20, 1);
  --color-950-10: rgba(26, 46, 5, 1);
  --color-50-11: rgba(236, 253, 245, 1);
  --color-100-11: rgba(209, 250, 229, 1);
  --color-200-11: rgba(167, 243, 208, 1);
  --color-300-11: rgba(110, 231, 183, 1);
  --color-400-11: rgba(52, 211, 153, 1);
  --color-500-11: rgba(16, 185, 129, 1);
  --color-600-11: rgba(5, 150, 105, 1);
  --color-700-11: rgba(4, 120, 87, 1);
  --color-800-11: rgba(6, 95, 70, 1);
  --color-900-11: rgba(6, 78, 59, 1);
  --color-950-11: rgba(2, 44, 34, 1);
  --color-50-12: rgba(240, 253, 244, 1);
  --color-100-12: rgba(220, 252, 231, 1);
  --color-200-12: rgba(187, 247, 208, 1);
  --color-300-12: rgba(134, 239, 172, 1);
  --color-400-12: rgba(74, 222, 128, 1);
  --color-500-12: rgba(34, 197, 94, 1);
  --color-600-12: rgba(22, 163, 74, 1);
  --color-700-12: rgba(21, 128, 61, 1);
  --color-800-12: rgba(22, 101, 52, 1);
  --color-900-12: rgba(20, 83, 45, 1);
  --color-950-12: rgba(5, 46, 22, 1);
  --color-50-13: rgba(240, 253, 250, 1);
  --color-100-13: rgba(204, 251, 241, 1);
  --color-200-13: rgba(153, 246, 228, 1);
  --color-300-13: rgba(94, 234, 212, 1);
  --color-400-13: rgba(45, 212, 191, 1);
  --color-500-13: rgba(20, 184, 166, 1);
  --color-600-13: rgba(13, 148, 136, 1);
  --color-700-13: rgba(15, 118, 110, 1);
  --color-800-13: rgba(17, 94, 89, 1);
  --color-900-13: rgba(19, 78, 74, 1);
  --color-950-13: rgba(4, 47, 46, 1);
  --color-50-14: rgba(236, 254, 255, 1);
  --color-100-14: rgba(207, 250, 254, 1);
  --color-200-14: rgba(165, 243, 252, 1);
  --color-300-14: rgba(103, 232, 249, 1);
  --color-400-14: rgba(34, 211, 238, 1);
  --color-500-14: rgba(6, 182, 212, 1);
  --color-600-14: rgba(8, 145, 178, 1);
  --color-700-14: rgba(14, 116, 144, 1);
  --color-800-14: rgba(21, 94, 117, 1);
  --color-900-14: rgba(22, 78, 99, 1);
  --color-950-14: rgba(8, 51, 68, 1);
  --color-50-15: rgba(240, 249, 255, 1);
  --color-100-15: rgba(224, 242, 254, 1);
  --color-200-15: rgba(186, 230, 253, 1);
  --color-300-15: rgba(125, 211, 252, 1);
  --color-400-15: rgba(56, 189, 248, 1);
  --color-500-15: rgba(14, 165, 233, 1);
  --color-600-15: rgba(2, 132, 199, 1);
  --color-700-15: rgba(3, 105, 161, 1);
  --color-800-15: rgba(7, 89, 133, 1);
  --color-900-15: rgba(12, 74, 110, 1);
  --color-950-15: rgba(8, 47, 73, 1);
  --color-50-16: rgba(239, 246, 255, 1);
  --color-100-16: rgba(219, 234, 254, 1);
  --color-200-16: rgba(191, 219, 254, 1);
  --color-300-16: rgba(147, 197, 253, 1);
  --color-400-16: rgba(96, 165, 250, 1);
  --color-500-16: rgba(59, 130, 246, 1);
  --color-600-16: rgba(37, 99, 235, 1);
  --color-700-16: rgba(29, 78, 216, 1);
  --color-800-16: rgba(30, 64, 175, 1);
  --color-900-16: rgba(30, 58, 138, 1);
  --color-950-16: rgba(23, 37, 84, 1);
  --color-50-17: rgba(238, 242, 255, 1);
  --color-100-17: rgba(224, 231, 255, 1);
  --color-200-17: rgba(199, 210, 254, 1);
  --color-300-17: rgba(165, 180, 252, 1);
  --color-400-17: rgba(129, 140, 248, 1);
  --color-500-17: rgba(99, 102, 241, 1);
  --color-600-17: rgba(79, 70, 229, 1);
  --color-700-17: rgba(67, 56, 202, 1);
  --color-800-17: rgba(55, 48, 163, 1);
  --color-900-17: rgba(49, 46, 129, 1);
  --color-950-17: rgba(30, 27, 75, 1);
  --color-50-18: rgba(250, 245, 255, 1);
  --color-100-18: rgba(243, 232, 255, 1);
  --color-200-18: rgba(233, 213, 255, 1);
  --color-300-18: rgba(216, 180, 254, 1);
  --color-400-18: rgba(192, 132, 252, 1);
  --color-500-18: rgba(168, 85, 247, 1);
  --color-600-18: rgba(147, 51, 234, 1);
  --color-700-18: rgba(126, 34, 206, 1);
  --color-800-18: rgba(107, 33, 168, 1);
  --color-900-18: rgba(88, 28, 135, 1);
  --color-950-18: rgba(59, 7, 100, 1);
  --color-50-19: rgba(253, 244, 255, 1);
  --color-50-20: rgba(255, 241, 242, 1);
  --color-100-19: rgba(255, 228, 230, 1);
  --color-200-19: rgba(254, 205, 211, 1);
  --color-300-19: rgba(253, 164, 175, 1);
  --color-400-19: rgba(251, 113, 133, 1);
  --color-500-19: rgba(244, 63, 94, 1);
  --color-600-19: rgba(225, 29, 72, 1);
  --color-700-19: rgba(190, 18, 60, 1);
  --color-800-19: rgba(159, 18, 57, 1);
  --color-900-19: rgba(136, 19, 55, 1);
  --color-950-19: rgba(76, 5, 25, 1);
  --color-50-21: rgba(245, 243, 255, 1);
  --color-100-20: rgba(237, 233, 254, 1);
  --color-200-20: rgba(221, 214, 254, 1);
  --color-300-20: rgba(196, 181, 253, 1);
  --color-400-20: rgba(167, 139, 250, 1);
  --color-500-20: rgba(139, 92, 246, 1);
  --color-600-20: rgba(124, 58, 237, 1);
  --color-700-20: rgba(109, 40, 217, 1);
  --color-800-20: rgba(91, 33, 182, 1);
  --color-900-20: rgba(76, 29, 149, 1);
  --color-950-20: rgba(46, 16, 101, 1);
  --color-100-21: rgba(250, 232, 255, 1);
  --color-200-21: rgba(245, 208, 254, 1);
  --color-300-21: rgba(240, 171, 252, 1);
  --color-400-21: rgba(232, 121, 249, 1);
  --color-500-21: rgba(217, 70, 239, 1);
  --color-600-21: rgba(192, 38, 211, 1);
  --color-700-21: rgba(162, 28, 175, 1);
  --color-800-21: rgba(134, 25, 143, 1);
  --color-900-21: rgba(112, 26, 117, 1);
  --color-950-21: rgba(74, 4, 78, 1);
  --color-50-22: rgba(253, 242, 248, 1);
  --color-100-22: rgba(252, 231, 243, 1);
  --color-200-22: rgba(251, 207, 232, 1);
  --color-300-22: rgba(249, 168, 212, 1);
  --color-400-22: rgba(244, 114, 182, 1);
  --color-500-22: rgba(236, 72, 153, 1);
  --color-600-22: rgba(219, 39, 119, 1);
  --color-700-22: rgba(190, 24, 93, 1);
  --color-800-22: rgba(157, 23, 77, 1);
  --color-900-22: rgba(131, 24, 67, 1);
  --color-950-22: rgba(80, 7, 36, 1);
  --color-primary: rgba(248, 250, 252, 1);
  --color-secondary: rgba(241, 245, 249, 1);
  --color-tertiary: rgba(226, 232, 240, 1);
  --color-disabled: rgba(203, 213, 225, 1);
  --color-primary-2: rgba(15, 23, 42, 1);
  --color-secondary-2: rgba(30, 41, 59, 1);
  --color-tertiary-2: rgba(51, 65, 85, 1);
  --color-primary-3: rgba(12, 74, 110, 1);
  --color-secondary-3: rgba(3, 105, 161, 1);
  --color-tertiary-3: rgba(186, 230, 253, 1);
  --color-subtle: rgba(209, 250, 229, 1);
  --color-bold: rgba(21, 128, 61, 1);
  --color-subtle-2: rgba(254, 249, 195, 1);
  --color-bold-2: rgba(234, 179, 8, 1);
  --color-subtle-3: rgba(254, 226, 226, 1);
  --color-bold-3: rgba(185, 28, 28, 1);
  --color-subtle-4: rgba(219, 234, 254, 1);
  --color-bold-4: rgba(30, 64, 175, 1);
  --color-primitives-gray-50: rgba(249, 250, 251, 1);
  --color-primitives-gray-100: rgba(243, 244, 246, 1);
  --color-primitives-gray-200: rgba(229, 231, 235, 1);
  --color-primitives-gray-300: rgba(209, 213, 219, 1);
  --color-primitives-gray-400: rgba(156, 163, 175, 1);
  --color-primitives-gray-500: rgba(107, 114, 128, 1);
  --color-primitives-gray-600: rgba(75, 85, 99, 1);
  --color-primitives-gray-700: rgba(55, 65, 81, 1);
  --color-primitives-gray-800: rgba(31, 41, 55, 1);
  --color-primitives-gray-900: rgba(17, 24, 39, 1);
  --color-primitives-gray-950: rgba(3, 7, 18, 1);
  --color-primitives-zinc-50: rgba(250, 250, 250, 1);
  --color-primitives-zinc-100: rgba(244, 244, 245, 1);
  --color-primitives-zinc-200: rgba(228, 228, 231, 1);
  --color-primitives-zinc-300: rgba(212, 212, 216, 1);
  --color-primitives-zinc-400: rgba(161, 161, 170, 1);
  --color-primitives-zinc-500: rgba(113, 113, 122, 1);
  --color-primitives-zinc-600: rgba(82, 82, 91, 1);
  --color-primitives-zinc-700: rgba(63, 63, 70, 1);
  --color-primitives-zinc-800: rgba(39, 39, 42, 1);
  --color-primitives-zinc-900: rgba(24, 24, 27, 1);
  --color-primitives-zinc-950: rgba(9, 9, 11, 1);
  --color-primitives-neutral-50: rgba(250, 250, 250, 1);
  --color-primitives-neutral-100: rgba(245, 245, 245, 1);
  --color-primitives-neutral-200: rgba(229, 229, 229, 1);
  --color-primitives-neutral-300: rgba(212, 212, 212, 1);
  --color-primitives-neutral-400: rgba(163, 163, 163, 1);
  --color-primitives-neutral-500: rgba(115, 115, 115, 1);
  --color-primitives-neutral-600: rgba(82, 82, 82, 1);
  --color-primitives-neutral-700: rgba(64, 64, 64, 1);
  --color-primitives-neutral-800: rgba(38, 38, 38, 1);
  --color-primitives-neutral-900: rgba(23, 23, 23, 1);
  --color-primitives-neutral-950: rgba(10, 10, 10, 1);
  --color-primitives-stone-50: rgba(250, 250, 249, 1);
  --color-primitives-stone-100: rgba(245, 245, 244, 1);
  --color-primitives-stone-200: rgba(231, 229, 228, 1);
  --color-primitives-stone-300: rgba(214, 211, 209, 1);
  --color-primitives-stone-400: rgba(168, 162, 158, 1);
  --color-primitives-stone-500: rgba(120, 113, 108, 1);
  --color-primitives-stone-600: rgba(87, 83, 78, 1);
  --color-primitives-stone-700: rgba(68, 64, 60, 1);
  --color-primitives-stone-800: rgba(41, 37, 36, 1);
  --color-primitives-stone-900: rgba(28, 25, 23, 1);
  --color-primitives-stone-950: rgba(12, 10, 9, 1);
  --color-primitives-red-50: rgba(254, 242, 242, 1);
  --color-primitives-red-100: rgba(254, 226, 226, 1);
  --color-primitives-red-200: rgba(254, 202, 202, 1);
  --color-primitives-red-300: rgba(252, 165, 165, 1);
  --color-primitives-red-400: rgba(248, 113, 113, 1);
  --color-primitives-red-500: rgba(239, 68, 68, 1);
  --color-primitives-red-600: rgba(220, 38, 38, 1);
  --color-primitives-red-700: rgba(185, 28, 28, 1);
  --color-primitives-red-800: rgba(153, 27, 27, 1);
  --color-primitives-red-900: rgba(127, 29, 29, 1);
  --color-primitives-red-950: rgba(69, 10, 10, 1);
  --color-primitives-orange-50: rgba(255, 247, 237, 1);
  --color-primitives-orange-100: rgba(255, 237, 213, 1);
  --color-primitives-orange-200: rgba(254, 215, 170, 1);
  --color-primitives-orange-300: rgba(253, 186, 116, 1);
  --color-primitives-orange-400: rgba(251, 146, 60, 1);
  --color-primitives-orange-500: rgba(249, 115, 22, 1);
  --color-primitives-orange-600: rgba(234, 88, 12, 1);
  --color-primitives-orange-700: rgba(194, 65, 12, 1);
  --color-primitives-orange-800: rgba(154, 52, 18, 1);
  --color-primitives-orange-900: rgba(124, 45, 18, 1);
  --color-primitives-orange-950: rgba(67, 20, 7, 1);
  --color-primitives-yellow-50: rgba(254, 252, 232, 1);
  --color-primitives-yellow-100: rgba(254, 249, 195, 1);
  --color-primitives-yellow-200: rgba(254, 240, 138, 1);
  --color-primitives-yellow-300: rgba(253, 224, 71, 1);
  --color-primitives-yellow-400: rgba(250, 204, 21, 1);
  --color-primitives-yellow-500: rgba(234, 179, 8, 1);
  --color-primitives-yellow-600: rgba(202, 138, 4, 1);
  --color-primitives-yellow-700: rgba(161, 98, 7, 1);
  --color-primitives-yellow-800: rgba(133, 77, 14, 1);
  --color-primitives-yellow-900: rgba(113, 63, 18, 1);
  --color-primitives-yellow-950: rgba(66, 32, 6, 1);
  --color-primitives-amber-50: rgba(255, 251, 235, 1);
  --color-primitives-amber-100: rgba(254, 243, 199, 1);
  --color-primitives-amber-200: rgba(253, 230, 138, 1);
  --color-primitives-amber-300: rgba(252, 211, 77, 1);
  --color-primitives-amber-400: rgba(251, 191, 36, 1);
  --color-primitives-amber-500: rgba(245, 158, 11, 1);
  --color-primitives-amber-600: rgba(217, 119, 6, 1);
  --color-primitives-amber-700: rgba(180, 83, 9, 1);
  --color-primitives-amber-800: rgba(146, 64, 14, 1);
  --color-primitives-amber-900: rgba(120, 53, 15, 1);
  --color-primitives-amber-950: rgba(69, 26, 3, 1);
  --color-primitives-lime-50: rgba(247, 254, 231, 1);
  --color-primitives-lime-100: rgba(236, 252, 203, 1);
  --color-primitives-lime-200: rgba(217, 249, 157, 1);
  --color-primitives-lime-300: rgba(190, 242, 100, 1);
  --color-primitives-lime-400: rgba(163, 230, 53, 1);
  --color-primitives-lime-500: rgba(132, 204, 22, 1);
  --color-primitives-lime-600: rgba(101, 163, 13, 1);
  --color-primitives-lime-700: rgba(77, 124, 15, 1);
  --color-primitives-lime-800: rgba(63, 98, 18, 1);
  --color-primitives-lime-900: rgba(54, 83, 20, 1);
  --color-primitives-lime-950: rgba(26, 46, 5, 1);
  --color-primitives-emerald-50: rgba(236, 253, 245, 1);
  --color-primitives-emerald-100: rgba(209, 250, 229, 1);
  --color-primitives-emerald-200: rgba(167, 243, 208, 1);
  --color-primitives-emerald-300: rgba(110, 231, 183, 1);
  --color-primitives-emerald-400: rgba(52, 211, 153, 1);
  --color-primitives-emerald-500: rgba(16, 185, 129, 1);
  --color-primitives-emerald-600: rgba(5, 150, 105, 1);
  --color-primitives-emerald-700: rgba(4, 120, 87, 1);
  --color-primitives-emerald-800: rgba(6, 95, 70, 1);
  --color-primitives-emerald-900: rgba(6, 78, 59, 1);
  --color-primitives-emerald-950: rgba(2, 44, 34, 1);
  --color-primitives-green-50: rgba(240, 253, 244, 1);
  --color-primitives-green-100: rgba(220, 252, 231, 1);
  --color-primitives-green-200: rgba(187, 247, 208, 1);
  --color-primitives-green-300: rgba(134, 239, 172, 1);
  --color-primitives-green-400: rgba(74, 222, 128, 1);
  --color-primitives-green-500: rgba(34, 197, 94, 1);
  --color-primitives-green-600: rgba(22, 163, 74, 1);
  --color-primitives-green-700: rgba(21, 128, 61, 1);
  --color-primitives-green-800: rgba(22, 101, 52, 1);
  --color-primitives-green-900: rgba(20, 83, 45, 1);
  --color-primitives-green-950: rgba(5, 46, 22, 1);
  --color-primitives-teal-50: rgba(240, 253, 250, 1);
  --color-primitives-teal-100: rgba(204, 251, 241, 1);
  --color-primitives-teal-200: rgba(153, 246, 228, 1);
  --color-primitives-teal-300: rgba(94, 234, 212, 1);
  --color-primitives-teal-400: rgba(45, 212, 191, 1);
  --color-primitives-teal-500: rgba(20, 184, 166, 1);
  --color-primitives-teal-600: rgba(13, 148, 136, 1);
  --color-primitives-teal-700: rgba(15, 118, 110, 1);
  --color-primitives-teal-800: rgba(17, 94, 89, 1);
  --color-primitives-teal-900: rgba(19, 78, 74, 1);
  --color-primitives-teal-950: rgba(4, 47, 46, 1);
  --color-primitives-cyan-50: rgba(236, 254, 255, 1);
  --color-primitives-cyan-100: rgba(207, 250, 254, 1);
  --color-primitives-cyan-200: rgba(165, 243, 252, 1);
  --color-primitives-cyan-300: rgba(103, 232, 249, 1);
  --color-primitives-cyan-400: rgba(34, 211, 238, 1);
  --color-primitives-cyan-500: rgba(6, 182, 212, 1);
  --color-primitives-cyan-600: rgba(8, 145, 178, 1);
  --color-primitives-cyan-700: rgba(14, 116, 144, 1);
  --color-primitives-cyan-800: rgba(21, 94, 117, 1);
  --color-primitives-cyan-900: rgba(22, 78, 99, 1);
  --color-primitives-cyan-950: rgba(8, 51, 68, 1);
  --color-primitives-sky-50: rgba(240, 249, 255, 1);
  --color-primitives-sky-100: rgba(224, 242, 254, 1);
  --color-primitives-sky-200: rgba(186, 230, 253, 1);
  --color-primitives-sky-300: rgba(125, 211, 252, 1);
  --color-primitives-sky-400: rgba(56, 189, 248, 1);
  --color-primitives-sky-500: rgba(14, 165, 233, 1);
  --color-primitives-sky-600: rgba(2, 132, 199, 1);
  --color-primitives-sky-700: rgba(3, 105, 161, 1);
  --color-primitives-sky-800: rgba(7, 89, 133, 1);
  --color-primitives-sky-900: rgba(12, 74, 110, 1);
  --color-primitives-sky-950: rgba(8, 47, 73, 1);
  --color-primitives-blue-50: rgba(239, 246, 255, 1);
  --color-primitives-blue-100: rgba(219, 234, 254, 1);
  --color-primitives-blue-200: rgba(191, 219, 254, 1);
  --color-primitives-blue-300: rgba(147, 197, 253, 1);
  --color-primitives-blue-400: rgba(96, 165, 250, 1);
  --color-primitives-blue-500: rgba(59, 130, 246, 1);
  --color-primitives-blue-600: rgba(37, 99, 235, 1);
  --color-primitives-blue-700: rgba(29, 78, 216, 1);
  --color-primitives-blue-800: rgba(30, 64, 175, 1);
  --color-primitives-blue-900: rgba(30, 58, 138, 1);
  --color-primitives-blue-950: rgba(23, 37, 84, 1);
  --color-primitives-indigo-50: rgba(238, 242, 255, 1);
  --color-primitives-indigo-100: rgba(224, 231, 255, 1);
  --color-primitives-indigo-200: rgba(199, 210, 254, 1);
  --color-primitives-indigo-300: rgba(165, 180, 252, 1);
  --color-primitives-indigo-400: rgba(129, 140, 248, 1);
  --color-primitives-indigo-500: rgba(99, 102, 241, 1);
  --color-primitives-indigo-600: rgba(79, 70, 229, 1);
  --color-primitives-indigo-700: rgba(67, 56, 202, 1);
  --color-primitives-indigo-800: rgba(55, 48, 163, 1);
  --color-primitives-indigo-900: rgba(49, 46, 129, 1);
  --color-primitives-indigo-950: rgba(30, 27, 75, 1);
  --color-primitives-purple-50: rgba(250, 245, 255, 1);
  --color-primitives-purple-100: rgba(243, 232, 255, 1);
  --color-primitives-purple-200: rgba(233, 213, 255, 1);
  --color-primitives-purple-300: rgba(216, 180, 254, 1);
  --color-primitives-purple-400: rgba(192, 132, 252, 1);
  --color-primitives-purple-500: rgba(168, 85, 247, 1);
  --color-primitives-purple-600: rgba(147, 51, 234, 1);
  --color-primitives-purple-700: rgba(126, 34, 206, 1);
  --color-primitives-purple-800: rgba(107, 33, 168, 1);
  --color-primitives-purple-900: rgba(88, 28, 135, 1);
  --color-primitives-purple-950: rgba(59, 7, 100, 1);
  --color-primitives-fuchsia-50: rgba(253, 244, 255, 1);
  --color-primitives-fuchsia-100: rgba(250, 232, 255, 1);
  --color-primitives-fuchsia-200: rgba(245, 208, 254, 1);
  --color-primitives-fuchsia-300: rgba(240, 171, 252, 1);
  --color-primitives-fuchsia-400: rgba(232, 121, 249, 1);
  --color-primitives-fuchsia-500: rgba(217, 70, 239, 1);
  --color-primitives-fuchsia-600: rgba(192, 38, 211, 1);
  --color-primitives-fuchsia-700: rgba(162, 28, 175, 1);
  --color-primitives-fuchsia-800: rgba(134, 25, 143, 1);
  --color-primitives-fuchsia-900: rgba(112, 26, 117, 1);
  --color-primitives-fuchsia-950: rgba(74, 4, 78, 1);
  --color-primitives-rose-50: rgba(255, 241, 242, 1);
  --color-primitives-rose-100: rgba(255, 228, 230, 1);
  --color-primitives-rose-200: rgba(254, 205, 211, 1);
  --color-primitives-rose-300: rgba(253, 164, 175, 1);
  --color-primitives-rose-400: rgba(251, 113, 133, 1);
  --color-primitives-rose-500: rgba(244, 63, 94, 1);
  --color-primitives-rose-600: rgba(225, 29, 72, 1);
  --color-primitives-rose-700: rgba(190, 18, 60, 1);
  --color-primitives-rose-800: rgba(159, 18, 57, 1);
  --color-primitives-rose-900: rgba(136, 19, 55, 1);
  --color-primitives-rose-950: rgba(76, 5, 25, 1);
  --color-primitives-violet-50: rgba(245, 243, 255, 1);
  --color-primitives-violet-100: rgba(237, 233, 254, 1);
  --color-primitives-violet-200: rgba(221, 214, 254, 1);
  --color-primitives-violet-300: rgba(196, 181, 253, 1);
  --color-primitives-violet-400: rgba(167, 139, 250, 1);
  --color-primitives-violet-500: rgba(139, 92, 246, 1);
  --color-primitives-violet-600: rgba(124, 58, 237, 1);
  --color-primitives-violet-700: rgba(109, 40, 217, 1);
  --color-primitives-violet-800: rgba(91, 33, 182, 1);
  --color-primitives-violet-900: rgba(76, 29, 149, 1);
  --color-primitives-violet-950: rgba(46, 16, 101, 1);
  --color-primitives-white: rgba(255, 255, 255, 1);
  --color-primitives-black: rgba(0, 0, 0, 1);
  --color-semantic-background-neutral-primary: rgba(248, 250, 252, 1);
  --color-semantic-background-neutral-secondary: rgba(241, 245, 249, 1);
  --color-semantic-background-neutral-tertiary: rgba(226, 232, 240, 1);
  --color-semantic-background-neutral-disabled: rgba(203, 213, 225, 1);
  --color-semantic-background-neutralinverse-primary: rgba(15, 23, 42, 1);
  --color-semantic-background-neutralinverse-secondary: rgba(30, 41, 59, 1);
  --color-semantic-background-neutralinverse-tertiary: rgba(51, 65, 85, 1);
  --color-semantic-background-brand-primary: rgba(12, 74, 110, 1);
  --color-semantic-background-brand-secondary: rgba(3, 105, 161, 1);
  --color-semantic-background-brand-tertiary: rgba(224, 242, 254, 1);
  --color-semantic-background-success-subtle: rgba(220, 252, 231, 1);
  --color-semantic-background-success-base: rgba(34, 197, 94, 1);
  --color-semantic-background-success-bold: rgba(22, 163, 74, 1);
  --color-semantic-background-warning-subtle: rgba(254, 249, 195, 1);
  --color-semantic-background-warning-base: rgba(250, 204, 21, 1);
  --color-semantic-background-warning-bold: rgba(234, 179, 8, 1);
  --color-semantic-background-error-subtle: rgba(254, 226, 226, 1);
  --color-semantic-background-error-base: rgba(239, 68, 68, 1);
  --color-semantic-background-error-bold: rgba(220, 38, 38, 1);
  --color-semantic-background-info-subtle: rgba(219, 234, 254, 1);
  --color-semantic-background-info-base: rgba(37, 99, 235, 1);
  --color-semantic-background-info-bold: rgba(29, 78, 216, 1);
  --color-primitives-pink-50: rgba(253, 242, 248, 1);
  --color-primitives-pink-100: rgba(252, 231, 243, 1);
  --color-primitives-pink-200: rgba(251, 207, 232, 1);
  --color-primitives-pink-300: rgba(249, 168, 212, 1);
  --color-primitives-pink-400: rgba(244, 114, 182, 1);
  --color-primitives-pink-500: rgba(236, 72, 153, 1);
  --color-primitives-pink-600: rgba(219, 39, 119, 1);
  --color-primitives-pink-700: rgba(190, 24, 93, 1);
  --color-primitives-pink-800: rgba(157, 23, 77, 1);
  --color-primitives-pink-900: rgba(131, 24, 67, 1);
  --color-primitives-pink-950: rgba(80, 7, 36, 1);
  --color-primitives-slate-50: rgba(248, 250, 252, 1);
  --color-primitives-slate-100: rgba(241, 245, 249, 1);
  --color-primitives-slate-200: rgba(226, 232, 240, 1);
  --color-primitives-slate-300: rgba(203, 213, 225, 1);
  --color-primitives-slate-400: rgba(148, 163, 184, 1);
  --color-primitives-slate-500: rgba(100, 116, 139, 1);
  --color-primitives-slate-600: rgba(71, 85, 105, 1);
  --color-primitives-slate-700: rgba(51, 65, 85, 1);
  --color-primitives-slate-800: rgba(30, 41, 59, 1);
  --color-primitives-slate-900: rgba(15, 23, 42, 1);
  --color-primitives-slate-950: rgba(2, 6, 23, 1);
  --color-semantic-background-white: rgba(255, 255, 255, 1);
  --color-semantic-background-black: rgba(0, 0, 0, 1);
  --color-semantic-text-neutral-primary: rgba(17, 24, 39, 1);
  --color-semantic-text-neutral-secondary: rgba(31, 41, 55, 1);
  --color-semantic-text-neutral-tertiary: rgba(75, 85, 99, 1);
  --color-semantic-text-neutral-disabled: rgba(107, 114, 128, 1);
  --color-semantic-text-neutral-primary-2: rgba(255, 255, 255, 1);
  --color-semantic-text-white: rgba(255, 255, 255, 1);
  --color-semantic-text-black: rgba(0, 0, 0, 1);
  --color-semantic-text-neutralinverse-primary: rgba(243, 244, 246, 1);
  --color-semantic-text-neutralinverse-secondary: rgba(229, 231, 235, 1);
  --color-semantic-text-neutralinverse-tertiary: rgba(209, 213, 219, 1);
  --color-semantic-text-brand-primary: rgba(12, 74, 110, 1);
  --color-semantic-text-brand-secondary: rgba(7, 89, 133, 1);
  --color-semantic-text-brand-inverse: rgba(224, 242, 254, 1);
  --color-semantic-text-success-primary: rgba(21, 128, 61, 1);
  --color-semantic-text-success-secondary: rgba(22, 163, 74, 1);
  --color-semantic-text-success-inverse: rgba(240, 253, 244, 1);
  --color-semantic-text-warning-primary: rgba(234, 179, 8, 1);
  --color-semantic-text-warning-secondary: rgba(250, 204, 21, 1);
  --color-semantic-text-warning-inverse: rgba(254, 252, 232, 1);
  --color-semantic-text-error-primary: rgba(220, 38, 38, 1);
  --color-semantic-text-error-secondary: rgba(239, 68, 68, 1);
  --color-semantic-text-error-inverse: rgba(254, 242, 242, 1);
  --color-semantic-text-info-primary: rgba(37, 99, 235, 1);
  --color-semantic-text-info-secondary: rgba(59, 130, 246, 1);
  --color-semantic-text-info-inverse: rgba(239, 246, 255, 1);
  --color-semantic-border-neutral-primary: rgba(229, 231, 235, 1);
  --color-semantic-border-neutral-secondary: rgba(209, 213, 219, 1);
  --color-semantic-border-neutral-tertiary: rgba(156, 163, 175, 1);
  --color-semantic-border-neutralinverse-primary: rgba(31, 41, 55, 1);
  --color-semantic-border-neutralinverse-secondary: rgba(55, 65, 81, 1);
  --color-semantic-border-neutralinverse-tertiary: rgba(75, 85, 99, 1);
  --color-semantic-border-brand-primary: rgba(12, 74, 110, 1);
  --color-semantic-border-brand-secondary: rgba(7, 89, 133, 1);
  --color-semantic-border-brand-inverse: rgba(224, 242, 254, 1);
  --color-semantic-border-success-primary: rgba(21, 128, 61, 1);
  --color-semantic-border-success-secondary: rgba(22, 163, 74, 1);
  --color-semantic-border-success-inverse: rgba(240, 253, 244, 1);
  --color-semantic-border-warning-primary: rgba(234, 179, 8, 1);
  --color-semantic-border-warning-secondary: rgba(250, 204, 21, 1);
  --color-semantic-border-warning-inverse: rgba(254, 252, 232, 1);
  --color-semantic-border-error-primary: rgba(185, 28, 28, 1);
  --color-semantic-border-error-secondary: rgba(220, 38, 38, 1);
  --color-semantic-border-error-inverse: rgba(254, 242, 242, 1);
  --color-semantic-border-info-primary: rgba(29, 78, 216, 1);
  --color-semantic-border-info-secondary: rgba(37, 99, 235, 1);
  --color-semantic-border-info-inverse: rgba(239, 246, 255, 1);
  --color-neutral-50: rgba(250, 250, 250, 1);
  --color-neutral-100: rgba(245, 245, 245, 1);
  --color-neutral-200: rgba(229, 229, 229, 1);
  --color-neutral-300: rgba(212, 212, 212, 1);
  --color-neutral-400: rgba(163, 163, 163, 1);
  --color-neutral-500: rgba(115, 115, 115, 1);
  --color-neutral-600: rgba(82, 82, 82, 1);
  --color-neutral-700: rgba(64, 64, 64, 1);
  --color-neutral-800: rgba(38, 38, 38, 1);
  --color-neutral-900: rgba(23, 23, 23, 1);
  --color-neutral-950: rgba(9, 9, 11, 1);
  --color-red-50: rgba(254, 242, 242, 1);
  --color-red-100: rgba(255, 226, 226, 1);
  --color-red-200: rgba(254, 202, 202, 1);
  --color-red-300: rgba(252, 165, 165, 1);
  --color-red-400: rgba(248, 113, 113, 1);
  --color-red-500: rgba(239, 68, 68, 1);
  --color-red-600: rgba(220, 38, 38, 1);
  --color-red-700: rgba(185, 28, 28, 1);
  --color-red-800: rgba(153, 27, 27, 1);
  --color-red-900: rgba(127, 29, 29, 1);
  --color-red-950: rgba(69, 10, 10, 1);
  --color-blue-50: rgba(239, 246, 255, 1);
  --color-blue-100: rgba(219, 234, 254, 1);
  --color-blue-200: rgba(191, 219, 254, 1);
  --color-blue-300: rgba(147, 197, 253, 1);
  --color-blue-400: rgba(96, 165, 250, 1);
  --color-blue-500: rgba(59, 130, 246, 1);
  --color-blue-600: rgba(37, 99, 235, 1);
  --color-blue-700: rgba(29, 78, 216, 1);
  --color-blue-800: rgba(30, 64, 175, 1);
  --color-blue-900: rgba(30, 58, 138, 1);
  --color-blue-950: rgba(23, 37, 84, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-black: rgba(0, 0, 0, 1);
  --font-cairo: "Cairo";
  --font-ibm-plex-sans: "IBM Plex Sans";
} */